

.Container{
  height: 50%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.weather-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Adjust space between the two sections */
}

.weather-section {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

